header .navbar navbar-expand-lg {
  background-color: rgba(243, 194, 227, 0.856);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  z-index: 1; }
  header .navbar navbar-expand-lg img {
    height: 50%;
    width: 300px; }
  header .navbar navbar-expand-lg nav ul {
    list-style: none;
    color: #525252;
    text-align: left;
    font-weight: lighter;
    text-decoration: none;
    display: flex; }
    header .navbar navbar-expand-lg nav ul li a {
      color: #494949;
      font-weight: bolder;
      font-family: raleway !important;
      text-decoration: none;
      margin: 20px;
      text-align: center; }

header {
  background-color: rgba(243, 194, 227, 0.856);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  z-index: 1; }
  header img {
    height: 50%;
    width: 300px; }
  header nav ul {
    list-style: none;
    color: #525252;
    text-align: left;
    font-weight: lighter;
    text-decoration: none;
    display: flex; }
    header nav ul li a {
      color: #494949;
      font-weight: bolder;
      font-family: raleway !important;
      text-decoration: none;
      margin: 20px;
      text-align: center; }

.hero {
  width: 100%;
  height: 55vh;
  color: rgba(255, 221, 244, 0.856);
  background-image: url(../img/sonrisita.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero h2 {
    font-size: 80px; }
  .hero p {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; }

.novedades h2 {
  color: #efdbff;
  font: size 200px;
  font-family: raleway;
  text-align: center;
  background-color: #69012d;
  padding: 15px;
  margin-bottom: 10px; }

.tarjetas {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .tarjetas div {
    width: 250px;
    height: 350px;
    border: 3px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .tarjetas div img {
      width: 200px;
      height: 200px;
      margin: 10px; }
    .tarjetas div h3 {
      font-size: 20px;
      margin: 20px; }
    .tarjetas div a {
      text-decoration: none;
      color: #efdbff;
      background-color: #69012d;
      padding: 10px;
      margin: 10px; }

/*!-----------RARE BEAUTY-----------*/
.make-up h2 {
  color: #efdbff;
  font: size 200px;
  font-family: raleway;
  text-align: center;
  background-color: #69012d;
  padding: 15px;
  margin-bottom: 10px; }

.makeup {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  flex-wrap: wrap; }
  .makeup div {
    width: 250px;
    height: 250px;
    border: 3px solid black;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }
    .makeup div h3 {
      color: #efdbff;
      font: size 200px;
      font-family: raleway;
      text-align: center;
      background-color: #69012d;
      padding: 20px; }
    .makeup div img {
      width: 200px; }

.grid-galeria {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 500px; }
  .grid-galeria div img {
    Width: 100%;
    Height: 100%;
    Object-fit: cover;
    box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75); }

.imagen-3 {
  grid-column: span 2; }

.imagen-7 {
  grid-row: span 2; }

.imagen-9 {
  grid-column: span 2; }

/*!-----------CONTACTO-----------*/
.contact h2 {
  color: #efdbff;
  font: size 200px;
  font-family: raleway;
  text-align: center;
  background-color: #69012d;
  padding: 15px;
  margin-bottom: 10px; }

.contactanos {
  background-image: url(../img/fondodestellos.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  font-size: larger;
  font-family: raleway; }

/*!-----------MUSICA----------*/
.plataforma h2 {
  color: #efdbff;
  font: size 200px;
  font-family: raleway;
  text-align: center;
  background-color: #69012d;
  padding: 15px;
  margin-bottom: 10px; }

.escucha {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px;
  margin: 10px; }
  .escucha div {
    width: 250px;
    height: 350px;
    border: 3px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75); }
    .escucha div img {
      width: 200px;
      height: 200px;
      margin: 10px; }
    .escucha div h3 {
      font-size: 20px;
      margin: 20px; }
    .escucha div a {
      text-decoration: none;
      color: #efdbff;
      background-color: #69012d;
      padding: 5px;
      margin: 10px; }

.links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px;
  margin: 10px; }
  .links div {
    width: 250px;
    height: 350px;
    border: 3px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75); }
    .links div img {
      width: 150px;
      height: 150px;
      margin: 10px; }
    .links div h4 {
      font-size: 20px;
      margin: 20px; }
    .links div a {
      text-decoration: none;
      color: #efdbff;
      background-color: #69012d;
      padding: 5px;
      margin: 10px; }

/*!-----------FILM Y TV----------*/
.filmytv {
  width: 100%;
  height: 55vh;
  color: rgba(255, 221, 244, 0.856);
  background-color: #69012d;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .filmytv h2 {
    font-size: 60px;
    font-family: raleway;
    text-align: center; }
  .filmytv p {
    font-size: 20px;
    font-family: raleway;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px; }

.mira {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px;
  margin: 10px; }
  .mira div {
    width: 250px;
    height: 350px;
    border: 3px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75); }
    .mira div img {
      width: 150px;
      height: 120px;
      margin: 10px; }
    .mira div h3 {
      font-size: 20px;
      margin: 20px; }
    .mira div a {
      text-decoration: none;
      color: #efdbff;
      background-color: #69012d;
      padding: 5px;
      margin: 10px; }

.grilla-galeria {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 500px; }
  .grilla-galeria div img {
    Width: 100%;
    Height: 100%;
    Object-fit: cover;
    box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 31px -4px rgba(0, 0, 0, 0.75); }

.imageng3 {
  grid-column: span 2; }

footer {
  background-color: rgba(255, 221, 244, 0.856);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer .pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; }
    footer .pie div img {
      width: 100%;
      height: 100px; }
    footer .pie div a img {
      width: 30px;
      height: 30px;
      margin: 10px; }

@media screen and (max-width: 900px) {
  .grid-galeria {
    grid-template-columns: 1fr; }
  .grid-item {
    Grid-column: span 1;
    Grid-row: span 1; }
  .grilla-galeria {
    grid-template-columns: 1fr; }
  .imageng3 {
    Grid-column: span 1;
    Grid-row: span 1; } }

@media screen and (max-width: 890px) {
  header {
    position: static;
    flex-direction: column; }
  header img {
    height: 20%;
    width: 150px; }
  header nav ul li a {
    margin: 15px; }
  .hero h2 {
    Font-size: 60px; }
  .hero p {
    Font-size: 20px; }
  .filmytv h2 {
    font-size: 40px; }
  .filmytv p {
    font-size: 15px; } }

@media screen and (max-width: 570px) {
  header {
    position: static; }
  header nav ul {
    flex-direction: column;
    align-items: center; }
  Header nav ul li {
    Margin: 0; }
  .hero {
    background-size: cover; }
  .hero h2 {
    Font-size: 45px; }
  .hero p {
    Font-size: 13px; }
  .filmytv h2 {
    font-size: 30px; }
  .filmytv p {
    font-size: 10px; } }

@media screen and (max-width: 450px) {
  .hero h2 {
    Font-size: 30px; }
  footer div img {
    width: 90%;
    height: 80px; }
  .filmytv h2 {
    font-size: 20px; }
  .filmytv p {
    font-size: 8px; } }
