

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Quicksand:wght@300;400&family=Raleway:ital,wght@0,100;0,300;0,400;0,800;1,200;1,400;1,800&display=swap');



/*!-----------RESET-----------*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:raleway;
}


/*!-----------HEADER-----------*/

header{
    background-color:rgba(243, 194, 227, 0.856);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 1;
}

header img{
    height: 50%;
    width: 300px;
}
header h1{
    font-size: 150px;
    font-family:raleway;
    font-weight: lighter;
    font-style:normal;
    color: rgb(82, 82, 82);
    
}

header nav ul{
    list-style: none;
    color: rgb(82, 82, 82);
    text-align: left;
    font-weight: lighter;
    text-decoration: none;
    display: flex;

}


header nav ul li a{
    color: rgb(73, 73, 73);
    font-weight: bolder;
    font-family:raleway;
    text-decoration: none;
    margin: 20px;
    text-align: center;

}



/*!-----------MAIN-----------*/

a {
    color:black;
    font-family:raleway;
    font-size: medium;
    font-weight: bold;
}


.hero{
    width:100%;
    height:55vh;
    color: rgba(255, 221, 244, 0.856);
    background-image: url(../img/sonrisita.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.hero h2{
    font-size: 80px;
    


}
.hero p{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.novedades h2{
    color: rgb(239, 219, 255);
    font: size 200px;;
    font-family:raleway;
    text-align: center;
    background-color: rgb(105, 1, 45);
    padding: 15px;
    margin-bottom: 10px;


}
.tarjetas div img{
    width: 200px;
    height:200px;
    margin:10px;
    
}

.tarjetas div h3{
    font-size: 20px;
    margin: 20px
}

.tarjetas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.tarjetas div{
    width:250px;
    height:350px;
    border: 3px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}


.tarjetas a{
    text-decoration: none;
    color: rgb(239, 219, 255);
    background-color: rgb(105, 1, 45);
    padding:10px;
    margin: 10px;
}



/*!-----------RARE BEAUTY-----------*/

.make-up h2{
    color: rgb(239, 219, 255);
    font: size 200px;;
    font-family:raleway;
    text-align: center;
    background-color: rgb(105, 1, 45);
    padding: 15px;
    margin-bottom: 10px;
}


.makeup{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
  

.makeup div{
    width:250px;
    height:250px;
    border: 3px solid black;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    flex-direction: column;
}


.makeup div img{
    width: 200px;
}


.makeup h2{
    color: rgb(239, 219, 255);
    font: size 200px;;
    font-family:raleway;
    text-align: center;
    background-color: rgb(105, 1, 45);
    padding: 20px;
}



.grid-galeria{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: 500px;  

}



.imagen-3{
    grid-column: span 2;
}


.imagen-7{
    grid-row: span 2;
}


.imagen-9{
    grid-column: span 2;
}



.grid-galeria div img{
    Width: 100%;
    Height: 100%;
    Object-fit: cover;
    box-shadow: 8px 10px 31px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 10px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 31px -4px rgba(0,0,0,0.75);
}




/*!-----------CONTACTO-----------*/
.contact h2{
    color: rgb(239, 219, 255);
    font: size 200px;;
    font-family:raleway;
    text-align: center;
    background-color: rgb(105, 1, 45);
    padding: 15px;
    margin-bottom: 10px;
}


.contactanos{
    display: flex;
    justify-content: center;
    align-items: center; 
}


.contactanos {
    
    font-size: larger;
}




/*!-----------MUSICA-----------*/

.plataforma h2{
    color: rgb(239, 219, 255);
    font: size 200px;;
    font-family:raleway;
    text-align: center;
    background-color: rgb(105, 1, 45);
    padding: 15px;
    margin-bottom: 10px;
}


.escucha div img{
    width: 200px;
    height:200px;
    margin:10px;
    
}

.escucha div h3{
    font-size: 20px;
    margin: 20px
}

.escucha{
    display: flex;
    justify-content: space-evenly;

}

.escucha div{
    width:250px;
    height:350px;
    border: 3px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}


.escucha a{
    text-decoration: none;
    color: rgb(239, 219, 255);
    background-color: rgb(105, 1, 45);
    padding:5px;
    margin: 10px;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.links a{
    text-decoration: none;
    color: rgb(239, 219, 255);
    background-color: rgb(105, 1, 45); 
    padding:5px;
    margin: 10px;
}


/*!-----------FILM-----------*/









/*!-----------FOOTER-----------*/


footer div a img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

footer div img{
    width: 100%;
    height: 100px;

}


footer{
    background-color: rgba(255, 221, 244, 0.856);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}





/*!-----------MEDIA QUERIES----------*/


@media screen and (max-width: 900px){
    .grid-galeria{
        grid-template-columns: 1fr;
    }          
    .grid-item{
        Grid-column: span 1;
        Grid-row: span 1;
    }
}

@media screen and (max-width: 890px){
    header{
        position: static;
        flex-direction: column;      
    }
    header img{
        height: 20%;
        width: 150px;
    }
    header nav ul li a{
        margin: 15px;
    }
    .hero h2{
        Font-size: 60px;
    }
    .hero p{
        Font-size: 20px;
    }
}

@media screen and (max-width: 570px){
    header{
    position: static;
}
    header nav ul{
    flex-direction: column; 
    align-items: center; 
}

    Header nav ul li{
    Margin: 0;
}
    .hero{
        background-size: cover;
    }
    .hero h2{
    Font-size: 45px;
}
    .hero p{
    Font-size: 13px;
}



}

@media screen and (max-width: 450px){
    .hero h2{
        Font-size: 30px;
    }
    footer div img{
        width: 90%;
        height: 80px;

    }
}
