@media screen and (max-width: 900px){
    .grid-galeria{
        grid-template-columns: 1fr;
    }          
    .grid-item{
        Grid-column: span 1;
        Grid-row: span 1;
    }
    .grilla-galeria{
        grid-template-columns: 1fr;
    }
    .imageng3{
        Grid-column: span 1;
        Grid-row: span 1;
    }
}

@media screen and (max-width: 890px){
    header{
        position: static;
        flex-direction: column;      
    }
    header img{
        height: 20%;
        width: 150px;
    }
    header nav ul li a{
        margin: 15px;
    }
    .hero h2{
        Font-size: 60px;
    }
    .hero p{
        Font-size: 20px;
    }
    .filmytv h2{
        font-size: 40px;
    }
    .filmytv p{
        font-size: 15px;
    }
}

@media screen and (max-width: 570px){
    header{
    position: static;
    }
    header nav ul{
    flex-direction: column; 
    align-items: center; 
    }

    Header nav ul li{
    Margin: 0;
    }
    .hero{
        background-size: cover;
    }
    .hero h2{
    Font-size: 45px;
    }
    .hero p{
    Font-size: 13px;
    }
    .filmytv h2{
        font-size: 30px;
    }
    .filmytv p{
        font-size: 10px;
    }
}





@media screen and (max-width: 450px){
    .hero h2{
        Font-size: 30px;
    }
    footer div img{
        width: 90%;
        height: 80px;

    }
    .filmytv h2{
        font-size: 20px;
        
    }
    .filmytv p{
        font-size: 8px;
    }
}
